<%= form_tag(talk_path, method: "put", remote: true, class: "table_form") do %>
  
  <label>
    <%= text_field_tag "message", value = "", class: "message-field"%>
    <%= submit_tag "update", class: "btn btn-mini submit" %>
  </label>
<% end %>