

//$('.test').before("<p><b>me: </b><%=@message%></p>");




$('.test').before("<li class='other'>"+
      "<div class='avatar'>"+
       "<b>Cathy</b>"+
      "</div>"+
      "<div class='messages'>"+
        "<p><%=@reply%></p>"+
        
      "</div>"+
    "</li>");
